<!-- estou documentando minha primeira página em .html -->
<!DOCTYPE html>
<html lang="pt-br">
<head> 
    <meta charset="UTF-8"> <!-- unicode characters -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja de Tênis - Onde o estilo encontra o conforto</title> <!-- esse título é o que
    aparece no espaço da Guia no meu navegador -->
</head>
<body>
    <header>
        <h1>[Seu Nome Completo]</h1>
        <p>Desenvolvedor Web Front-end Jr.</p>
    </header>

    <main>
        <section>
            <h2>Contato</h2>
            <p><strong>Email:</strong> seu.email@exemplo.com</p>
            <p><strong>Telefone:</strong> (99) 99999-9999</p>
            <p><strong>LinkedIn:</strong> linkedin.com/in/[seu-perfil]</p>
        </section>

        <section>
            <h2>Experiência Profissional</h2>
            <article>
                <h3>Desenvolvedor Trainee na Empresa X</h3>
                <p><strong>Período:</strong> Jan 2024 - Presente</p>
                <p>Descrição das atividades, como 'Desenvolvimento e manutenção de páginas web utilizando HTML, CSS e JavaScript.'</p>
            </article>
            </section>
    </main>

    <footer>
        <p>&copy; 2024 - Todos os direitos reservados.</p>
    </footer>
</body>
</html>
