<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JWC Tênis - Home</title>
    <link rel="stylesheet" href="..\static\css\home.css">
</head>
<body>

    <header>
        <h1>JWC Tênis</h1>
        <nav>
            <a href="home.html">Home</a>
            <a href="produtos.html">Produtos</a>
            <a href="contatos.html">Contatos</a>
        </nav>
    </header>

    <main>
        <section class="destaques">
            <h2>Destaques da Semana</h2>
            <div class="video-container">
                <iframe width="560" height="315" src="../static/video/2882114-uhd_3840_2160_24fps.mp4" frameborder="0" allowfullscreen></iframe>
                <iframe width="560" height="315" src="..\static\video\3252778-uhd_3840_2160_25fps.mp4" frameborder="0" allowfullscreen></iframe>
            </div>
        </section>

        <section class="sobre">
            <h2>Sobre a JWC</h2>
            <p>JWC Tênis é a sua loja online para os melhores calçados esportivos. Oferecemos uma seleção de alta qualidade para todos os estilos e necessidades, do casual ao profissional. Nosso compromisso é com a qualidade e o conforto dos seus pés.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 JWC Tênis. Todos os direitos reservados.</p>
    </footer>

</body>
</html>