<link rel="stylesheet" href="..\static\css\style.css"> 
<h2>Tabela de Preços</h2>
<table class="tabela-precos">
    <thead>
        <tr>
            <th>Modelo</th>
            <th>Cor</th>
            <th>Preço</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Air Max</td>
            <td>Preto</td>
            <td>R$ 450,00</td>
        </tr>
        <tr>
            <td>Adidas Stan Smith</td>
            <td>Branco</td>
            <td>R$ 380,00</td>
        </tr>
    </tbody>
</table>

<h2>Detalhes e Preços</h2>
<table class = tabela-precos>
    <thead>
        <tr>
            <th>Modelo</th>
            <th colspan="2">Informações</th> 
            <th>Preço</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Converse All Star</td>
            <td>Tamanho</td>
            <td>38-42</td>
            <td>R$ 250,00</td>
        </tr>
        <tr>
            <td rowspan="2">Nike Blazer</td> 
            <td>Cor</td>
            <td>Branco/Azul</td>
            <td rowspan="2">R$ 410,00</td>
        </tr>
        <tr>
            <td>Estoque</td>
            <td>Disponível</td>
        </tr>
    </tbody>
</table>